<h1>Build your Dictionary!</h1>





<form action="/words" method="post">
  <div class="form-group">
    <label for="inputWord">Enter a word here</label>
    <input id="inputWord" name="inputWord" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Next</button>
</form>
